/* CSS for styling all the html elements */

/* header */
header {
  height: 100px;
}

/* logo image */
.navbar-brand img {
  height: 100%;
  max-height: 50px;
  object-fit: contain;
  margin-left: 20px;
}

/* navbar links */
.nav-link {
  color: #434343;
}

.nav-link:hover .nav-active {
  background-color: #3A8FB7;
  color: white;
  border-radius: 5px;
}